<%- include('./layouts/cabecera.ejs', {title:'Vivienda'})%>
<body>
    <%- include('./layouts/header.ejs')%>

    <% viviendas.rows.forEach((i) =>{ %> 

    <div class="container">
    <div class = "card my-3">
        
        <div class="card-body">
            <div class="row ">
                <div class="col-md-4">
                    <img class="img-thunbnail" src="../img/casa1.jpg" alt="" style="width: 18rem;">
                </div>
            
                <div class="col-md-8">
                    <p><h2><b>Nombre:</b>       <%= i.n %></h2></p>
                    <p><b>Descripcion</b>   <%= i.des %></p>
                    <p><b>Direcion:</b>     <%= i.dir %></p>
                    <p><b>Habitaciones:</b> <%= i.h %></p>
                    <p><b>Baños:</b>        <%= i.bn %></p>
                    <p><b>Mt2:</b>          <%= i.m %></p>
                    <p><b>Tipo de Vivienda:</b><%= i.dd %></p>
              
                </div>
            </div>
        </div>
    </div>
</div>
    <% }); %> 
    
    <%- include('./layouts/footer.ejs'); %>
</body>
</html>

