<%- include('./layouts/cabecera.ejs', {title:'Vivienda'})%>
<body>
    <%- include('./layouts/header.ejs')%>
  
    <a href="/pdf-vivenda" class="btn btn-outline-danger mt-4"><i class='bx bxs-file-pdf bx-md'></i></a>
    <% viviendas.rows.forEach((i) =>{ %> 
        
    <div class="container">
    <div class = "card my-3" style="width: 60rem;">
        <div class="card-body">
            <div class="row ">
                <div class="col-md-4">
                    <img class="img-thunbnail" src="../img/casa1.jpg" alt="" style="width: 18rem;">
                </div>
            
                <div class="col-md-8">
                    <p><h2><b>Nombre:</b> <%= i.n %></h2></p>
                    <p><b>Descripcion: </b><%=i.des %></p>
                    <p><b>Direcion: </b>  <%=i.dir %></p>
                    <table class="col-md-7">
                        <thead>
                            <tr>
                                <th>Habitacion</th>
                                <th>Baños</th>
                                <th>Vivienda</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td><%=i.bn %></td>
                                <td><%= i.m %></td>
                                <td><%= i.dd %></td>
                            </tr>
                        </tbody>
                    </table>              
                </div>
            </div>
        </div>
    </div>
</div>
    <% }); %> 
    
    <style>
        table {
            width: 100%;text-align:center
        }
    </style>
    <%- include('./layouts/footer.ejs'); %>
</body>
</html>

